<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidadorAdminServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.ValidadorAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistradorClienteServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.RegistradorClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaProductosServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.ConsultaProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.ProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionFamiliaServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.SeleccionFamiliaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorradoProductosServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.BorradoProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaProductosParaBorrarServelt</servlet-name>
        <servlet-class>tk.anitoys.registrador.ConsultaProductosParaBorrarServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CestaServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.CestaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.AgregarProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidadorAdminServlet</servlet-name>
        <url-pattern>/ValidadorAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistradorClienteServlet</servlet-name>
        <url-pattern>/RegistradorClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaProductosServlet</servlet-name>
        <url-pattern>/ConsultaProductosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/ProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionFamiliaServlet</servlet-name>
        <url-pattern>/SeleccionFamiliaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorradoProductosServlet</servlet-name>
        <url-pattern>/BorradoProductosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaProductosParaBorrarServelt</servlet-name>
        <url-pattern>/ConsultaProductosParaBorrarServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CestaServlet</servlet-name>
        <url-pattern>/CestaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <url-pattern>/AgregarProductoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
