<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidadorAdminServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.ValidadorAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistradorServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.RegistradorClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaProductosServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.ConsultaProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>tk.anitoys.registrador.ProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidadorAdminServlet</servlet-name>
        <url-pattern>/ValidadorAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistradorServlet</servlet-name>
        <url-pattern>/RegistradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaProductosServlet</servlet-name>
        <url-pattern>/ConsultaProductosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/ProductoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
