@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
*{
    margin: 0;
    padding:0;
}

#contenedor{
    margin:50px auto;
    width: 500px;
    background-color: #ACF8FD;
    text-align: center;
    color: darkmagenta;
    border-radius: 20px;
    -webkit-box-shadow: 0px 31px 167px 0px rgba(94,32,94,1);
    -moz-box-shadow: 0px 31px 167px 0px rgba(94,32,94,1);
    box-shadow: 0px 31px 167px 0px rgba(94,32,94,1);
}
#contenedor h2{
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
}
.formulario, .formularioContacto{
    width: 90%;
    padding: 20px;
}
.formulario input[type="text"], input[type="email"], input[type="password"], input[type="file"],input[type="number"], #familia, #categoria, .formularioContacto input, textArea{
    width:90%;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    border: 2px solid darkmagenta;
    margin: 5px 0;
    background-color: thistle;
    padding: 5px;
}
input:focus{
    background-color: white;
}
input[type="checkbox"]{
    width: 10%;
    font-family: 'Roboto Slab', serif;
}
#boton{
    background-color: darkmagenta;
    margin: 10px 0;
    color:thistle;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid thistle;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    font-size: 16px;
}
#boton:hover{
    background-color: thistle;
    color: darkmagenta;
    border:2px solid darkmagenta;
}
.row{
    float:left;
    margin: 20px;
}
.card{
    width: 200px;  
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
    font-family: arial;
}

.card p{
    margin: 0;
}
.card img{
    width: 120px;
    display: box;
    margin:auto;
}
.comprar{
    width: 70px;
    height: 30px;
    background-color: violet;
    border-radius: 25px;
}
.col-6{
    background-color: beige;
    width: 200px;  
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    font-family: arial;
}

.container{
    padding:100px;

}
.cestacompra{
    text-align: center;
    background-color: #ACF8FD;
    color: darkmagenta;
    border-radius: 20px;
    -webkit-box-shadow: 0px 31px 167px 0px rgba(94,32,94,1);
    -moz-box-shadow: 0px 31px 167px 0px rgba(94,32,94,1);
    box-shadow: 0px 31px 167px 0px rgba(94,32,94,1);  
}

.articulos{
  border-color: black;
  border-width: 3px;
  border-style:double;
  margin: 10px;
  color: black;
}