*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  fload:right;
}
#iconos{
    text-align:right;
}

.logo{
    padding: 0;
    padding-bottom: 1px;
    
    margin:0;
}
.row{
    text-align: right;
}
.container-fluid {
   
    padding-right: 0px;
    padding-left: 0px;
    
}


.colorbarra a{
   /* background-color: blueviolet;*/

   color: rgb(226, 43, 211);

}
.backgroundcolorbarra{
    background-color: lightsteelblue;
}

.navbar-light .navbar-brand {
    color: rgba(201, 20, 192, 0.5);
}
a {
    color: blueviolet;
    text-decoration: none;
    background-color: transparent;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(201, 20, 192, 0.5);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(201, 20, 192, 0.5); 
     font-weight: bold;
    
}

/*PENDIENTE ESTUDIAR EL HOVER... COLOR hovercolor
.hovercolor{
    color:green;

}*/
/*Estilo de las Card 'Ofertas'*/

.text-primary{
    color:blue;
    font-size: 40px;
}

.card-title{
    text-align: center;
}
.footer{
    padding: 20px;
    font-family: comics;
}

footer img{
    width: 50%;
    padding-bottom: 14px;
    border-radius: 25%;

}
.lista{
    text-align: center;
}
.col-3:hover{
    background-color: #ACF8FD;
    margin: auto;
}
.redes2 img{
    width: 200px;
    border-radius: 50px;
    }
    .redes2{
        text-align: center;
    }



