*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    float:right;
}
#iconos{
    align-items: flex-end;
    /*text-align:right;*/
}
#search{
    border-radius: 25px; 
}
.colorP{
    color:rgba(201, 20, 192, 0.5);
    font-size: 15px;


}

.logo{
    padding: 0;
    padding-bottom: 1px;

    margin:0;
}
.container-fluid {

    padding-right: 0px;
    padding-left: 0px;

}


.colorbarra a{
    /* background-color: blueviolet;*/

    color: rgb(226, 43, 211);
}

.backgroundcolorbarra{
    background-color: lightsteelblue;
}

.navbar-light .navbar-brand {
    color: rgba(201, 20, 192, 0.5);
    text-align: right;
}
a {
    color: blueviolet;
    text-decoration: none;
    background-color: transparent;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(201, 20, 192, 0.5);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(201, 20, 192, 0.5); 
    font-weight: bold;

}

/*PENDIENTE ESTUDIAR EL HOVER... COLOR hovercolor
.hovercolor{
    color:green;

}*/

#oferta{
    boder:2px solid green;
    color: white;
    background-color: greenyellow;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}



/*Estilo de las Card 'Ofertas'*/
.text-primary{
    color:blue;
    font-size: 40px;
}

.card-title{
    text-align: center;
}
/*Estilo footer*/

footer{
    background-color:aliceblue;
    padding: 20px;
    font-family: comics;
}
.col-6{
     text-align: center;
     }
.col-6 img{
    width: 200px;
    padding-bottom: 14px;
    border-radius: 25%;
}

#frase{
    color:rgba(201, 20, 192, 0.5);
    font-size: 15px;
    font-style: italic;
    font-weight:bolder;
    border: 3px;
    border-radius: 25px; 
    background-color:greenyellow;
    text-align: center;
    
   
}

.lista{
    text-align: center;
}
.redes2 img{
    width: 100px;
    border-radius: 50px;
}
.redes6 img{
    width: 200px;
    border-radius: 50px;
}
.redes2{
    text-align: center;
    margin: auto;
}
.row{
    float:left;
}
.metodo{
    text-align: center;
    margin: auto;  
}
.metodo img{
    width: 130px;
    border-radius: 50px; 
}
.footer h4{
    font-size:large;
}
.redes5 img{
    width: 200px;
    border-radius: 50px;
}
.col-3{
    text-align: center;
}
.pt-20{
    padding-top: 280px!important;
}